.section__aboutMe {
    display: block;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    background-color: rgb(190, 224, 110);
    border: 2px solid rgb(133, 212, 97);
}

