.footer__contact {
    color: white;
    background-color: #141d0a;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 10px ;
    padding: 10px;
    width: 250px;
}

@media(max-width:800px) {
    .footer__contact {
        width: 150px;
        /* height: 80px; */

    }
}