.js-header {
    background-color: rgb(27, 27, 27);
    border: 2px solid rgb(165, 67, 38);
}

.js-button--backgroundColor {
    border-color:  20px solid white;
}

.js-header__navigation {
    background-color: rgb(177, 74, 6);
}

.js-body {
    background-color: rgb(52, 56, 43);
}

.js-main {
    background-color: rgb(177, 74, 6);
    border: 2px solid rgb(177, 74, 6);
}

.js-footer {
    background-color: rgb(29, 29, 29);
    border: 2px solid rgb(177, 74, 6);
}

.js-footer__contact {
    background-color: rgb(56, 10, 10);
    border: 2px solid rgb(177, 6, 6);
    color: rgb(255, 255, 255);
    border-radius: 10px ;
}